#title {
  background-color: #fd3f26;
  color: #fff;
}
body {
  font-family: 'Montserrat-Black', sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.2;
}
h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
}
/* Navigation bar */
.container-fluid {
  padding: 3% 15%;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
.navbar {
  padding-bottom: 4.5rem;
}
.nav-item {
  padding-right: 18px;
}
.nav-link {
font-family: 'Montserrat-Light', sans-serif;
font-size: 1.3rem;
}
.iphone {
  transform: rotate(25deg);
  width: 60%;

}

/* Download Buttons */

.download {
  margin: 5% 3% 5% 0;
}

/* Section Feautures */

#features {
  padding: 3% 15%;
}
h3 {
  font-family: 'Montserrat-Black', sans-serif;
  padding-top: 15px;
}

.featurebox {
  text-align: center;
  padding: 5%;
  
}
p {
  color: #8f8f8f;
  
}

.icon {
  color: #ef8172;
}
.icon:hover {
  color: #ff280b;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;

}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 5% 15%;

}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.plan {
  text-align: center;
}
#pricing {
  padding: 5% 15%;
}